/* Additional Styles */
#login {
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
  /* align-content: center; */
  /* text-align: center; */
  max-width: 600px; }

#login-bg {
  background-image: url("assets/brand/login-bg.jpg");
  min-height: 600px;
  background-size: cover;
  background-repeat: none; }

#blue-logo {
  max-width: 150px;
  margin: auto;
  padding-bottom: 2rem; }

.engie-logo {
  text-align: center; }

#wide-button {
  width: 100%; }

.secondary-header {
  text-align: center; }

.small-stuff {
  font-size: .8rem; }

#password-reqs {
  font-size: .7rem;
  min-width: 150px; }

#password-reqs:before {
  content: "";
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #0af;
  display: block;
  float: left;
  margin-right: 5px;
  margin-top: 3px; }

.terms {
  text-align: center;
  margin-top: 50px;
  font-size: .6rem; }

.email-link {
  color: #212121; }

.email-link:hover {
  color: #727272;
  text-decoration: underline; }

#padded-link {
  margin-top: 20px; }

/* Additional Responsive Styles */
@media (max-width: 768px) {
  .sign-in {
    font-size: 1rem; }

  .nj-label-floating {
    font-size: .6rem; }

  #password-reqs {
    padding: 0;
    font-size: .6rem; }

  .material-icons {
    visibility: hidden; }

  .secondary-header {
    font-size: 1rem; } }
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em; }

.captcha {
  background-color: #f9f9f9;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
  color: #4c4a4b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; }

.text {
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 1em; }

.spinner {
  position: relative;
  width: 2em;
  height: 2em;
  display: flex;
  margin: 2em 1em;
  align-items: center;
  justify-content: center; }

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1; }

input[type="checkbox"] + .checkmark {
  display: inline-block;
  width: 2em;
  height: 2em;
  background-color: #fcfcfc;
  border: 2.5px solid #c3c3c3;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

input[type="checkbox"] + .checkmark span {
  content: '';
  position: relative;
  margin-top: -3px;
  transform: rotate(45deg);
  width: .75em;
  height: 1.2em;
  opacity: 0; }

input[type="checkbox"] + .checkmark > span:after {
  content: '';
  position: absolute;
  display: block;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #029f56; }

input[type="checkbox"] + .checkmark > span:before {
  content: '';
  position: absolute;
  display: block;
  width: 3px;
  bottom: 0;
  right: 0;
  background-color: #029f56; }

input[type="checkbox"]:checked + .checkmark {
  animation: 2s spin forwards; }

input[type="checkbox"]:checked + .checkmark > span {
  animation: 1s fadein 1.9s forwards; }

input[type="checkbox"]:checked + .checkmark > span:after {
  animation: .3s bottomslide 2s forwards; }

input[type="checkbox"]:checked + .checkmark > span:before {
  animation: .5s rightslide 2.2s forwards; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes bottomslide {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@keyframes rightslide {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  align-self: flex-end;
  margin: 0.5em 1em; }

.logo img {
  height: 2em;
  width: 2em; }

.logo p {
  color: #9d9ba7;
  margin: 0;
  font-size: 1em;
  font-weight: 700;
  margin: .4em 0 .2em 0; }

.logo small {
  color: #9d9ba7;
  margin: 0;
  font-size: .8em; }

@keyframes spin {
  10% {
    width: 0;
    height: 0;
    border-width: 6px; }
  30% {
    width: 0;
    height: 0;
    border-radius: 50%;
    border-width: 1em;
    transform: rotate(0deg);
    border-color: #c7daf5; }
  50% {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border-width: 4px;
    border-color: #c7daf5;
    border-right-color: #5998ef; }
  70% {
    border-width: 4px;
    border-color: #c7daf5;
    border-right-color: #5998ef; }
  90% {
    border-width: 4px; }
  100% {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    transform: rotate(720deg);
    border-color: transparent; } }
::selection {
  background-color: transparent;
  color: teal; }

::-moz-selection {
  background-color: transparent;
  color: teal; }

/* Responsive Styles for Recaptcha */
@media screen and (max-width: 500px) {
  .captcha {
    flex-direction: column; }

  .text {
    margin: 0.5em !important;
    text-align: center; }

  .logo {
    align-self: center !important; }

  .spinner {
    margin: 2em 0.5em 0.5em 0.5em !important; } }

/*# sourceMappingURL=custom.css.map */
