/* Additional Styles */

#login {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
    /* align-content: center; */
    /* text-align: center; */
    max-width: 600px;
}

#login-bg {
    background-image: url('assets/brand/login-bg.jpg');
    min-height: 600px;
    background-size: cover;
    background-repeat: none;
}

#blue-logo {
    max-width:150px;
    margin: auto;
    padding-bottom:2rem;
}

.engie-logo {
    text-align: center;
}

#wide-button {
    width:100%;
}

#no-style-button {
	background-color: transparent;
	border: none;
}

.no-style {
	background-color: transparent;
	border: none;
}


a.remove-underline:hover {
	text-decoration: none;
}
.login-header {
	text-align: left;
}

.received {
	font-size:12px;
	color:#69AF23;
	font-style: italic;
}
// #language {
//     transition-property: color;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//     transition-duration: 0.3s;
// }

#languageSelect {
	color: #fff;
	text-decoration: none;
}

#languageSelectIcon {
	padding-bottom: 1rem;
}

#login-dropdown {
	width:auto;
	margin-top:1rem;
}

#language-dropdown {
	width:auto;
	margin-top:1rem;
}

#lang {
	margin-left: .5rem;
	
}

.secondary-header {
    text-align: center;
}

#less-padding {
	padding-top:1rem;
	margin-bottom:0;
}
#no-padding {
	padding:0;
	margin:0;
}
.small-stuff {
    font-size: .8rem;
}

.dot-blue {
	height: 15px;
	width: 15px;
	background-color:#0069A7;
	border-radius: 50%;
	display: inline-block;
	margin-top:5px;
	margin-right:10px;
	margin-left:10px;
  }

.dot-light-blue {
height: 15px;
width: 15px;
background-color:#0B91E1;
border-radius: 50%;
display: inline-block;
margin-top:5px;
margin-right:10px;
margin-left:10px;
}

.dot-purple {
height: 15px;
width: 15px;
background-color:#552382;
border-radius: 50%;
display: inline-block;
margin-top:5px;
margin-right:10px;
margin-left:10px;
}

.dot-green {
height: 15px;
width: 15px;
background-color:#92DD52;
border-radius: 50%;
display: inline-block;
margin-top:5px;
margin-right:10px;
margin-left:10px;
}

.mini-title {
	font-size: .8rem;
	color:#757575;
	padding-bottom:0;
	margin-bottom: 0;
}

.flex-container {
	width:100%;
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
  }

.flex-item {
	display:flex;
	text-align:center;
}

.space-between { 
justify-content: space-between; 
} 

.flex-end {
	justify-content: flex-end;
}

#total {
	font-size: 18px;
	font-weight: bold;
}

#bold {
	font-weight: bold;
}

#extra {
	font-size:.9rem;
	font-style: italic;
	text-align: center;
}

.inner {
	padding-left:5rem;
}

.edit {
	text-align:right;
	padding-right:.5rem;
	padding-top:.5rem;
}

.excel {
	position: relative;
	display: block;
	height:2.5rem;
	padding-top: 2.5rem;
	padding-right:1rem;
}
#no-top-padding {
	padding-top: 0;
	padding-bottom:.5rem;
}
#no-border {
	border:none;
}
.big-card {
	background-color:#EFF3F6; 
	background-size:cover;
	height:auto; 
	padding-bottom: 100px;
}

#copyright {
	font-size: .75rem; 
	justify-content: start; 
	color:#757575
}
#password-reqs {
	font-size: .7rem;
	min-width: 150px;
}

.subtitle {
	font-size: 1.1rem;
	font-weight: bold;
	font-style: italic;
}

#password-reqs:before {
content: "";
position: relative;
// top: 25%;
width:10px;
height:10px;
border-radius: 100%;
background:#0af;
display: block;
float: left;
margin-right: 5px;
margin-top: 3px;
}

.terms {
    text-align: center;
    margin-top: 50px;
    color: #C9C9C9;
}

.terms-link {
	color: #C9C9C9;
}

.terms-link:hover {
	color: #C9C9C9;
	text-decoration: underline;
}

.email-link {
    color: #212121;
}

.email-link:hover {
    color: #727272;
    text-decoration: underline;
}

#padded-link {
    margin-top: 20px;
}

#modal-center {
	align-items: center;
	padding:10px;
}

#modal-left {
	padding-top:15px;
	padding-bottom:15px;
}

#modal-footer {
	padding:20px;
}

.md-72 {
	font-size:6rem;
}

.circle-alert--success {
	margin-top:2rem;
	background-color: #029f56;
	width: 50px;
    height: 50px;
	border-radius: 50%;
	text-align: center;
	align-items: center;
}

.hoverable {
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
	transition: box-shadow 0.3s ease-in-out;
  }
  
.hoverable:hover {
box-shadow: 0 8px 15px 3px rgba(0, 0, 0, 0.18);
}

#help{
	background-color: #EFF3F6;
	background-size:cover;
	height:500px;
}



#navbar-toggle {
    cursor: pointer;
}

#toggleView {
    margin-left: 44px;
}

#vert-nav-icons {
    float: right;
}


  
/* Additional Responsive Styles */
@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .sign-in {
        font-size:1rem;
    }
    .nj-label-floating {
        font-size:.6rem;

    }
    #password-reqs {
        padding:0;
        font-size: .6rem;
    }

    .secondary-header {
        font-size: 1rem;
    }
}

// Table Styles
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}



// recaptcha styles
.captcha {
	background-color:#f9f9f9;
	border:2px solid #d3d3d3;
	border-radius:5px;
	color:#4c4a4b;
	display:flex;
	justify-content:center;
    align-items:center;
    margin-top:40px;
}

.text {
	font-size:1.1rem;
	font-weight:500;
	margin-right:1em;
}
.spinner {
	position:relative;
	width:2em;
	height:2em;
	display:flex;
	margin:2em 1em;
	align-items:center;
	justify-content:center;
}

.logo {
	display:flex;
	flex-direction:column;
	align-items:center;
	height:100%;
	align-self:flex-end;
	margin:0.5em 1em;
}
.logo img {
	height:2em;
	width:2em;
}
.logo p {
	color:#9d9ba7;
	margin:0;
	font-size:1em;
	font-weight:700;
	margin:.4em 0 .2em 0;
}
.logo small {
	color:#9d9ba7;
	margin:0;
	font-size:.8em;
}
@keyframes spin {
	10% {
		width:0;
		height:0;
		border-width:6px;
	}
	30% {
		width:0;
		height:0;
		border-radius:50%;
		border-width:1em;
		transform: rotate(0deg);
		border-color:rgb(199,218,245);
	}
	50% {
		width:2em;
		height:2em;
		border-radius:50%;
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	70% {
		border-width:4px;
		border-color:rgb(199,218,245);
		border-right-color:rgb(89,152,239);
	}
	90% {
		border-width:4px;
	}
	100% {
		width:2em;
		height:2em;
		border-radius:50%;
		transform: rotate(720deg);
		border-color:transparent;
	}
}
::selection {
	background-color:transparent;
	color:teal;
}
::-moz-selection {
	background-color:transparent;
	color:teal;
}

/* Responsive Styles for Recaptcha */
@media screen and (max-width: 500px) {
    .captcha {
        flex-direction:column;
    }
    .text {
        margin:.5em!important;
        text-align:center;
    }
    .logo {
        align-self: center!important;
    }
    .spinner {
        margin:2em .5em .5em .5em!important;
    }
}

// Account Detail View

#detail-view-bg {
	background-color: #f5f5f5;
}

// Vertical Nav

#sidebar.active {
	min-width: 250px;
	max-width: 250px;
	// min-height: 100vh;
	height:100%;
	background-color: #ffffff;
	top:0;
	overflow-y:auto;
	// transition: all 0.3s;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.06), 0 3px 1px -2px rgba(0,0,0,.06);
}

#sidebar {
    min-width: 80px;
	max-width: 80px;
	text-align: center;
	position: fixed;
	overflow-y:auto;
    // top: 0;
    left: 0;
    /* top layer */
	z-index: 9999;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.06), 0 3px 1px -2px rgba(0,0,0,.06);
}



i.reverse {
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
     transform: rotate(180deg);
}

#no-styles {
	background-color: transparent;
	border-bottom: none;
	padding:0;
}

#sidebarCollapse {
	color:#757575;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-button {
	display:none;
}

@media (max-width: 768px) {
    #sidebar {
        max-width: 150px;
    }
}
/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}


// #sidebar ul.components {
//     padding: 20px 0;
    
// }
// #sidebar ul p {
//     color: #fff;
//     padding: 10px;
// }

// #sidebar ul li a {
//     padding: 10px;
//     font-size: 1.1em;
//     display: block;
// }
// #sidebar ul li a:hover {
//     color: #7386D5;
//     background: #fff;
// }

// #sidebar ul li.active > a, a[aria-expanded="true"] {
//     color: #fff;
//     background: #EAEAEA;
// }
// ul ul a {
//     font-size: 0.9em !important;
//     padding-left: 30px !important;
    
// }

// #sidebar.active {
//     margin-left: -200px;
// }